.navbar {
  background-color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.search-input {
  border: none;
  height: 25px;
  font-family: Inter;
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 2% center;
  width: 200px;
  border-radius: 2px;
  padding-left: 30px;
}