#root {
  max-width: 100%;
  margin: 0 auto;
}

.landing-page {
  display: flex;
  flex-direction: row;
}

.filters-section {
  width: 30vw;
  margin-right: 10px;
}

.map-section {
  width: 70vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #444;
  border-left-color: #444;
  animation: spinner 1s linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
